.professionalSelfAssessment {
    padding: 5rem 0;
    text-align: center;
  }
  
  .professionalSelfAssessment-info {
    display: flex;
    gap: 20px;
    margin: 40px 0;
  }
  
  .professionalSelfAssessment h1 {
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .professionalSelfAssessment p {
    font-size: 18px;
    color: rgb(97, 95, 95);
    line-height: 2;
    max-width: 80%;
    margin: 0 auto;
  }

  .professionalSelfAssessment-link ion-icon {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 100%;
    font-size: 30px;
  }