.milestoneOne {
    padding: 5rem 0;
  }
  
  .milestoneOne-info {
    display: flex;
    gap: 20px;
    margin: 40px 0;
  }
  
  .milestoneOne h1 {
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .milestoneOne p {
    font-size: 18px;
    color: rgb(97, 95, 95);
    line-height: 2;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .milestoneOne iframe {
    aspect-ratio: 16/9;
    width: 100%;
  }