.narrative {
    padding: 1rem 0;
    text-align: left;
  }
  
  .narrative h1 {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .narrative p {
    padding: 1rem 0;
    font-size: 15px;
    color: rgb(97, 95, 95);
    line-height: 2;
  }